$header-height: 44px;
$header-background: #31c27c;
$logo-height: 25px;
$body-background: #f4f4f4;
$swiper-container-width: 400px;
$nav-item-height: 40px;
$nav-item-color: rgba(0, 0, 0, .6);
$nav-item-active: #31c27c;

/*新的样式*/

$body-root-background:#FAFAFA;