@import "./var";
@import "./reset";
@import "./rec";
@import "./header";
@import "./headerbar";
@import "./helper";
@import "./search";
@import "./rank";
body {
    background: #F6F6F6;
}

ul,
ol li {
    list-style: none;
    margin: 0;
    padding: 0;
}

* {
    font-family: -apple-system, sans-serif;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}